<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/web-context.xml classpath:/dao-context.xml</param-value>
        </init-param>
        <init-param>
            <param-name>spring.profiles.active</param-name>
            <param-value>hibernate-dao</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servlet-example</servlet-name>
        <servlet-class>org.velikokhatko.part2.servlet.ServletExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet-example</servlet-name>
        <url-pattern>/velikokhatko/servlet/example</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletPerformanceTesting</servlet-name>
        <servlet-class>org.velikokhatko.part2.servlet.ServletPerformanceTesting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletPerformanceTesting</servlet-name>
        <url-pattern>/velikokhatko/servlet/performance</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>filter1example</filter-name>
        <filter-class>org.velikokhatko.part2.servlet.Filter1Example</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter1example</filter-name>
        <url-pattern>/velikokhatko/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>filter2example</filter-name>
        <filter-class>org.velikokhatko.part2.servlet.Filter2Example</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter2example</filter-name>
        <url-pattern>/velikokhatko/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.velikokhatko.part2.servlet.Listener1Example</listener-class>
    </listener>
</web-app>
